In [1]:
from pym import field as field
import pandas as pd
import numpy as np

/Users/hage581/code/pyg/threed.py:33: UserWarning:
This call to matplotlib.use() has no effect because the backend has already
been chosen; matplotlib.use() must be called *before* pylab, matplotlib.pyplot,
or matplotlib.backends is imported for the first time.

The backend was *originally* set to 'module://ipykernel.pylab.backend_inline' by the following code:
  File "/usr/local/Cellar/python@2/2.7.15/Frameworks/Python.framework/Versions/2.7/lib/python2.7/runpy.py", line 174, in _run_module_as_main
    "__main__", fname, loader, pkg_name)
  File "/usr/local/Cellar/python@2/2.7.15/Frameworks/Python.framework/Versions/2.7/lib/python2.7/runpy.py", line 72, in _run_code
    exec code in run_globals
  File "/usr/local/lib/python2.7/site-packages/ipykernel_launcher.py", line 16, in <module>
    app.launch_new_instance()
  File "/usr/local/lib/python2.7/site-packages/traitlets/config/application.py", line 658, in launch_instance
    app.start()
  File "/usr/local/lib/python2.7/site-packages/ipykernel/kernelapp.py", line 486, in start
    self.io_loop.start()
  File "/usr/local/lib/python2.7/site-packages/tornado/ioloop.py", line 1064, in start
    handler_func(fd_obj, events)
  File "/usr/local/lib/python2.7/site-packages/tornado/stack_context.py", line 276, in null_wrapper
    return fn(*args, **kwargs)
  File "/usr/local/lib/python2.7/site-packages/zmq/eventloop/zmqstream.py", line 450, in _handle_events
    self._handle_recv()
  File "/usr/local/lib/python2.7/site-packages/zmq/eventloop/zmqstream.py", line 480, in _handle_recv
    self._run_callback(callback, msg)
  File "/usr/local/lib/python2.7/site-packages/zmq/eventloop/zmqstream.py", line 432, in _run_callback
    callback(*args, **kwargs)
  File "/usr/local/lib/python2.7/site-packages/tornado/stack_context.py", line 276, in null_wrapper
    return fn(*args, **kwargs)
  File "/usr/local/lib/python2.7/site-packages/ipykernel/kernelbase.py", line 283, in dispatcher
    return self.dispatch_shell(stream, msg)
  File "/usr/local/lib/python2.7/site-packages/ipykernel/kernelbase.py", line 233, in dispatch_shell
    handler(stream, idents, msg)
  File "/usr/local/lib/python2.7/site-packages/ipykernel/kernelbase.py", line 399, in execute_request
    user_expressions, allow_stdin)
  File "/usr/local/lib/python2.7/site-packages/ipykernel/ipkernel.py", line 208, in do_execute
    res = shell.run_cell(code, store_history=store_history, silent=silent)
  File "/usr/local/lib/python2.7/site-packages/ipykernel/zmqshell.py", line 537, in run_cell
    return super(ZMQInteractiveShell, self).run_cell(*args, **kwargs)
  File "/usr/local/lib/python2.7/site-packages/IPython/core/interactiveshell.py", line 2714, in run_cell
    interactivity=interactivity, compiler=compiler, result=result)
  File "/usr/local/lib/python2.7/site-packages/IPython/core/interactiveshell.py", line 2818, in run_ast_nodes
    if self.run_code(code, result):
  File "/usr/local/lib/python2.7/site-packages/IPython/core/interactiveshell.py", line 2878, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-1-9ffdd8a6b781>", line 1, in <module>
    from pym import field as field
  File "/Users/hage581/code/pym/field.py", line 3, in <module>
    from pyg import threed as pyg3d
  File "/Users/hage581/code/pyg/threed.py", line 10, in <module>
    import matplotlib.pyplot as plt
  File "/usr/local/lib/python2.7/site-packages/matplotlib/pyplot.py", line 71, in <module>
    from matplotlib.backends import pylab_setup
  File "/usr/local/lib/python2.7/site-packages/matplotlib/backends/__init__.py", line 16, in <module>
    line for line in traceback.format_stack()


  matplotlib.use('pgf')

In [2]:
df = pd.DataFrame([[0., 0.]], columns=[0., 1.], index=[0.])
print df
df = df.append(pd.DataFrame([[0., 1.]], columns=[0., 1.], index=[1.]))
print df

     0.0  1.0
0.0  0.0  0.0
     0.0  1.0
0.0  0.0  0.0
1.0  0.0  1.0

In [3]:
data = field.field()
data.add_data([0., 1.], 0., [[0., 0.]])

     0.0  1.0
0.0  0.0  0.0

In [4]:
data.add_data([2.], 0., [[0.]])

     0.0  1.0  2.0
0.0  0.0  0.0  0.0

In [5]:
data.add_data([0., 1., 2.], 1., [[0., 1., 2.]])

     0.0  1.0  2.0
0.0  0.0  0.0  0.0
1.0  0.0  1.0  2.0

In [6]:
data.add_data([2., 3., 4.], 2., [[4., 6., 8.]])
data.add_data([0., 1., 2., 3., 4.], 3., [[0., 3., 6., 9., 12.]])
xs = np.arange(0., 7.)
ys = np.arange(4., 7.)
X, Y = np.meshgrid(xs, ys)
zs = np.multiply(X, Y)
print zs
data.add_data(xs, ys, zs)

[[ 0.  4.  8. 12. 16. 20. 24.]
 [ 0.  5. 10. 15. 20. 25. 30.]
 [ 0.  6. 12. 18. 24. 30. 36.]]

     0.0  1.0   2.0   3.0   4.0   5.0   6.0
0.0  0.0  0.0   0.0   NaN   NaN   NaN   NaN
1.0  0.0  1.0   2.0   NaN   NaN   NaN   NaN
2.0  NaN  NaN   4.0   6.0   8.0   NaN   NaN
3.0  0.0  3.0   6.0   9.0  12.0   NaN   NaN
4.0  0.0  4.0   8.0  12.0  16.0  20.0  24.0
5.0  0.0  5.0  10.0  15.0  20.0  25.0  30.0
6.0  0.0  6.0  12.0  18.0  24.0  30.0  36.0

In [7]:
plot = data.surf()
plot.export('test', force=True)
plot.show()

/Users/hage581/code/pyg/threed.py:95: UserWarning: Requested projection is different from current axis projection, creating new axis with requested projection.
  self.ax = self.fig.gca(projection='3d')

[[ 0.  0.  0. nan nan nan nan]
 [ 0.  1.  2. nan nan nan nan]
 [nan nan  4.  6.  8. nan nan]
 [ 0.  3.  6.  9. 12. nan nan]
 [ 0.  4.  8. 12. 16. 20. 24.]
 [ 0.  5. 10. 15. 20. 25. 30.]
 [ 0.  6. 12. 18. 24. 30. 36.]]

/usr/local/lib/python2.7/site-packages/matplotlib/colors.py:504: RuntimeWarning: invalid value encountered in less
  xa[xa < 0] = -1
/usr/local/lib/python2.7/site-packages/numpy/core/_methods.py:29: RuntimeWarning: invalid value encountered in reduce
  return umr_minimum(a, axis, None, out, keepdims)